<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGeneral" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62703/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGeneral" contract="SVC_BD.IGeneral"
                name="BasicHttpBinding_IGeneral" />
        </client>
    </system.serviceModel>
</configuration>